*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', optima;
}

form i{
    cursor: pointer;
    color: #30343F;
}

i{
    float: right;
    margin-right: -5px;
    margin-top: -75px;
    color: #A4133C;
}

.reg-form {
    width: 100%;
    height: 100vh;
    background-image: url('../img/magicpattern-svg-chart-1676719822925.png');
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.sign-box{
    position: absolute;
    width: 350px;
    box-shadow: -5px -1px 72px -5px rgba(128,15,47,0.75);
    -webkit-box-shadow: -5px -1px 72px -5px rgba(128,15,47,0.75);
    -moz-box-shadow: -5px -1px 72px -5px rgba(128,15,47,0.75);
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50% );
    background-color: #FFF0F3;
    padding: 25px 25px 45px 25px;
    border-radius: 25px;
}

.reg-text-login{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 400;
    color: #30343F;
}

.reg-text-login::before{
    position: absolute;
    content: '';
    width: 32%;
    height: 5px;
    border-radius: 30px;
    background: linear-gradient(65deg , #FF4D6D , #A4133C);
    bottom: -10px;
}

.reg-text-registr{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 400;
    color: #30343F;
}

.reg-text-registr::before{
    position: absolute;
    content: '';
    width: 75%;
    height: 5px;
    border-radius: 30px;
    background: linear-gradient(65deg , #FF4D6D , #A4133C);
    bottom: -10px;
}

.sign-box .input-box{
    width: 100%;
    position: relative;
}

.sign-box .input-box input[type="password"]{
    width: 100%;
    font-size: 20px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #800F2F;
    background-color: #FFF0F3;
}

.sign-box .input-box input[type="text"]{
    width: 100%;
    font-size: 20px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #800F2F;
    background-color: #FFF0F3;
}

.sign-box .input-box input[type="email"]{
    width: 100%;
    font-size: 20px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #800F2F;
    background-color: #FFF0F3;
}

.sign-box .input-box label{
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 20px;
    color: rgb(77, 80, 118);
    pointer-events: none;
    transition: 0.2s;
}

.sign-box .input-box input:focus + label,
.sign-box .input-box input:valid + label{
    top: -7px;
    font-size: 18px;
    color: #30343F;
}

.sign-box .input-box .password-checkbox{
    width: 10%;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    color:#30343F;
    position: absolute;
    top: 20%;
    right: 2%;
    cursor: pointer;
}

.sign-box .input-box .password-checkbox svg{
    width: 20px;
    height: auto;
}

.sign-box .input-box .password-checkbox input[type="checkbox"]{
    display: grid;
    grid-template-columns: 0.8em auto;
    gap: 0.5em;
}

.sign-box .input-box .password-checkbox .show-text{
    margin-left: 5px;
}

.sign-box .submit-but{
    width: 100%;
    background: linear-gradient(65deg , #FF4D6D , #A4133C);
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 25px;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer; 
    text-decoration: none;
    color: #30343F;
    display: block;
    text-align: center;
} 

.sign-box .submit-but:active{
    transform: scale3d(0.9,0.9,0.9);
}

.submit-but a{
    color: #30343F;
    text-decoration: none;
}

.sign-box .login-link{
    width: 100%;
    font-size: 17px;
    margin-top: 23px;
    text-align: center;
}

.sign-box .login-link a{
    color: #30343F;
    text-decoration: none;
}

.sign-box .login-link a:hover{
    text-decoration: underline;
    text-underline-position: under;
    color: #30343F;
}

/* make-post.css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', optima;
}

.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/magicpattern-svg-chart-1676719822925.png');
}

.butt{
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
}

.pop{
    width: 650px;
    height: 570px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FFF0F3;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: -5px -1px 72px -5px rgba(128,15,47,0.75);
    -webkit-box-shadow: -5px -1px 72px -5px rgba(128,15,47,0.75);
    -moz-box-shadow: -5px -1px 72px -5px rgba(128,15,47,0.75);
    
}

.pop form .box{
    width: 470px;
    height: 300px;
    cursor: pointer;
    padding: 50px;
    position: absolute;
    top: -190%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: dashed #A4133C;
    
}

.pop form .box label{
    position: absolute;
    left: 146px;
    top: -45px;
    font-size: 30px;
    font-weight: 500;
    color: #30343F;
    pointer-events: none;
    
}
.pop form .box input[name="myfile"]{
    font-size: 250px;
    width: 127%;
    margin-top: -52px;
    margin-left: -49px;
    outline: none;
    opacity: 0;
    border-radius: 5px;

}

.pop button{
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(65deg , #FF4D6D , #A4133C);
    border: none;

}

.pop button a{
    text-decoration: none;
    color: #30343F;
}

.pop form{
    margin-top: 390px;
    width: 100%;
    position: relative;
}

.pop .input-box input[type="text"]{
    width: 80%;
    font-size: 20px;
    margin: 10px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #800F2F;
    background-color: #FFF0F3;
}

.pop .input-box .l-place{
    position: absolute;
    left: 68px;
    top: 15px;
    font-size: 20px;
    color: rgb(77, 80, 118);
    pointer-events: none;
    transition: 0.2s;
}

.pop .input-box .l1{
    position: absolute;
    left: 68px;
    top: 63px;
    font-size: 20px;
    color: rgb(77, 80, 118);
    pointer-events: none;
    transition: 0.2s;
}

.pop .input-box input:focus + .l-place,
.pop .input-box input:valid + .l-place{
    top: 5px;
    font-size: 18px;
    color: #30343f3b;
}

.pop .input-box input:focus + .l1,
.pop .input-box input:valid + .l1{
    top: 53px;
    font-size: 18px;
    color: #30343f3b;
}

.fa-make-post{
    color: #800F2F;
    position: absolute;
    margin-top: -92px;
    left: 105%;
    
}