*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', optima;
}

.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF0F3;
}

.butt{
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
}

.pop{
    width: 650px;
    height: 570px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: radial-gradient(#ed2550, #f797ac);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    
}

.pop h2{
    color: white;
    font-size: 28px;
    margin: 20px 0px 10px;
    
}

.pop form .box{
    width: 470px;
    height: 300px;
    cursor: pointer;
    padding: 50px;
    position: absolute;
    top: -190%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: dashed #A4133C;
    
}

.pop form .box label{
    position: absolute;
    left: 146px;
    top: -45px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 4px 1px 2px #f15375;
    pointer-events: none;
    
}
.pop form .box input[name="myfile"]{
    font-size: 250px;
    width: 127%;
    margin-top: -52px;
    margin-left: -49px;
    outline: none;
    opacity: 0;
    border-radius: 5px;

}

.pop button{
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: #A4133C;
    background-color: #FFF0F3;

}

.pop button a{
    text-decoration: none;
    color: #A4133C;
}

.pop form{
    margin-top: 390px;
    width: 100%;
    position: relative;
}

.pop .input-box input{
    width: 80%;
    font-size: 20px;
    margin: 10px;
    outline: none;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: #FFF0F3;
}

.pop .input-box .l-place{
    position: absolute;
    left: 68px;
    top: 15px;
    font-size: 20px;
    color: rgb(77, 80, 118);
    pointer-events: none;
    transition: 0.2s;
}

.pop .input-box .l1{
    position: absolute;
    left: 68px;
    top: 63px;
    font-size: 20px;
    color: rgb(77, 80, 118);
    pointer-events: none;
    transition: 0.2s;
}

.pop .input-box .l2{
    position: absolute;
    left: 68px;
    top: 85px;
    font-size: 20px;
    color: rgb(77, 80, 118);
    pointer-events: none;
    transition: 0.2s;
}

.pop .input-box input:focus + label,
.pop .input-box input:valid + label{
    
    font-size: 18px;
    color: #30343f3b;
}