header{
    
    display: flex;
    justify-content: center;
    background: #FF758F;
    height: 50px;
    margin-left: 30px;
    margin-right: 25px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: -4px 13px 34px -14px #A4133C;
    -webkit-box-shadow: -4px 6px 30px -1px #C9184A; 
    z-index: 1;
}
@font-face {
    font-family: "Parisienne-Regular";
    font-style: normal;
    src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Naruto-Style";
    font-style: normal;
    src: url("../fonts/ninja-naruto.regular.ttf") format("truetype");
}
@font-face {
    font-family: "Squealer";
    font-style: normal;
    src: url("../fonts/squealer.regular.otf") format("opentype");
}
@font-face {
    font-family: "Action-Is";
    font-style: normal;
    src: url("../fonts/action-is.regular.ttf") format("truetype");
}
@font-face {
    font-family: "Libre-Baskerville-Italic";
    font-style: normal;
    src: url("../fonts/libre-baskerville.italic.ttf") format("truetype");
}
@font-face {
    font-family: "Libre-Baskerville";
    font-style: normal;
    src: url("../fonts/libre-baskerville.regular.ttf") format("truetype");
}



@media screen and (min-width: 1600px){
    .form{
        left: 30% !important;
    }
    
}

@media screen and (max-width: 1450px){
    .nav-link{
        display: none;
    }
    .hamberger-menu{
        display: flex !important;
    }

    header{
        background: none;
        box-shadow: none;
    }

    .posts-home{
        margin-top: -150px !important;
    }
    
    .posts{
        margin-top: -150px !important;
    }

    .profile-side-bar{
        margin-top: -150px !important;
    }
  
}

@media screen and (max-width: 1200px){
    .posts-home{
        grid-template-columns: 300px 300px !important;
        grid-template-rows: auto !important;
    }
    
}

@media screen and (max-width: 880px){
    .posts{
        grid-template-columns: 300px !important;
        grid-template-rows: auto !important;
    }
}

@media screen and (max-width: 650px){
    .side-bar{
        display: none !important;
    }
    .posts{
        grid-template-columns: 300px !important;
        grid-template-rows: auto !important;
    }
    .posts-home{
        grid-template-columns: 300px !important;
        grid-template-rows: auto !important;
    }
}

a{
    text-decoration: none;
    font-family: optima;
}
nav a{
    color: #FFB3C1;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: optima;
    transition: all 0.3s ease-in-out;
}   

.hamberger-menu{
    display: none;
}

 .home-link{
    margin-top: 0;
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 5%;
}

.home-link:hover{
    color:#FFF0F3;
}

.about-link{
    margin-top: 0;
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 13%;
}

.about-link:hover{
    color:#FFF0F3;
}

.login-link{
    margin-top: 0;
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 12%;
}

.login-link:hover{
    color:#FFF0F3;
}

.profile-link{
    margin-top: -2px;
    
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 5%;
    size: 20px;
}

.profile-link:hover{
    color:#F9C5D1;
}

.profile-link svg{
    display: block;
    width: 40px;
    height: auto;
}

.profile-link path{
    fill: #800F2F;
}

.form{
    display: flex;
    gap: 3rem;
    margin-left: 25px;
}

.form .input-text{
    width: 600px;
    
}

.form .form-field input[type="text"]{
    font-size: 20px;
    outline: none;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #A4133C;
    background-color: #FFF0F3;
}
.btn{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 22px;
    color: #FFF0F3;
    background-color: #A4133C;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    background-color: #FF4D6D;
}

.btn-edit{
    margin-top: -20px;
    float: right;
    margin-right: 12px;
    margin-top: 0;
    transition: all ease-in;
}

.btn-edit i{
    text-decoration: none;
    color: #800F2F;
}

.btn-edit:hover{
    cursor: pointer;
    color: #C9184A;
}

h1 {
    color: #FFB3C1;
    text-shadow: 4px 4px 0px #FF758F;
    font-family: "Action-Is", cursive;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
}
h2 {
    font-family: "Parisienne-Regular";
    text-align: center;
    font-size: 52px;
    color: #A4133C;
}
h4{
    color: #ea638c;
    font-size: 15px;
}
body{
    background-color: #ea638c;
    background-image:
    linear-gradient(65deg, #FF4D6Db2, #FF4D6Db2),
    url('../img/istockphoto-538992590-612x612.jpg');
    overflow-x: hidden;
    margin: 0%;
}
h3 {
    color: #A4133C;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
}
img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.post-meta {
    font-family: "Squealer";
    font-size: 27px;
    text-align: right;
    color: #ea638c;
}

.entry-desc{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    
}
p {
    font-size: 22px;
    word-spacing: 4px;
    line-height: 1.4;
    color: #a04c5b;
    font-family: "Libre-Baskerville-Italic";
}
.main-name{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 200px;
}
.post-author-img{
    max-width: 40px;
    display: grid;
    place-items: center;
}
.avatar-small{
    width: 45px;
    border-radius: 100%;
}
.comment-info{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 45px 100px;
    grid-template-rows: auto;
}
.single-post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 1100px;
    background-color: #FFF0F3;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: -4px 13px 34px -14px #A4133C;
    -webkit-box-shadow: -4px 6px 30px -1px #C9184A;
    padding: 20px;
}
.comment-post{
    display: flex;
    flex-direction: column;
    width: 1100px;
    background-color: #FFF0F3;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: -4px 13px 34px -14px #A4133C;
    -webkit-box-shadow: -4px 6px 30px -1px #C9184A;
    padding: 20px;
}
.comment-section {
    display: flex;
    background-color: #FFF0F3;
    align-items: center;
    width: 1150px;
    height: 100px;
    margin-top: 2%;
    box-shadow: -4px 13px 34px -14px #a4133c;
    -webkit-box-shadow: -4px 6px 30px -1px #c9184a;
    border-radius: 15px;
}
.input-text-comment {
    font-size: 20px;
    outline: none;
    width: 800px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #FFF0F3;
}
.single-post .post-text{
    margin: 0 10px;
    position: absolute;
}
.post-author{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    place-items: left;

}

.post-image {
    margin: 5px;
}
.tag {
    padding: 2px 2px;
    margin: 5px 5px;
}
.fa {
    text-align: center;
}
.fa:hover {
    opacity: 0.5;
}
.fa-facebook::before {
    content: "\f082";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-instagram::before {
    content: "\f16d";
}
.fa-telegram::before {
    content: "\f2c6";
}
.fa-heart{
    content: "&#xf08a";
    color:rgb(255, 140, 140);

}

.fa-heart:active{
    
    fill:rgb(243, 0, 0);
}
.fa-heart::after{
    content: "";
    color: rgb(255, 0, 0);
}

.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
  .footer{
    background-color:  #A4133C;
    border-radius: 15px 15px 0px 0px;
    padding: 70px 0;
    width: 100%;
    /*max-width: 1140px;*/
  }

  .col{
    width: 25%;
    padding: 0 15px;
    margin-left: 35px;
 }
 .col h5{
   font-size: 25px;
   color: #FFCCD5;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
   font-family: 'Ubuntu', sans-serif;
 }
 .col h5::before{
   content: '';
   position: absolute;
   left:0;
   bottom: -10px;
   background-color: #FFCCD5;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
 }

 .col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #FFCCD5;
    text-decoration: none;
    font-weight: 300;
    
    display: block;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
  }
  .col ul li a:hover{
    color: #590D22;
    padding-left: 8px;
  }
  .col .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #FFB3C1;
    transition: all 0.5s ease;
  }

  .col .social-links a svg{
    width: 25px;
    height: auto;
  }

  .col .social-links a:hover{
    color: #24262b;
    background-color: #FFB3C1;
  }

  .col .social-links a path{
    fill: #FFCCD5;
  }

  .col .social-links a path:hover{
    fill: #1B2021;
    
  }
.post-footer {
    height: 50px;
    display: flex;
    border-top: 1px solid #c50a2c;
    border-bottom: 1px solid #c50a2c;
    justify-content: space-between;
    margin: 8px 0px 0px 0px;
    text-align: center;
}
.post-like {
    font-size: 25px;  
}

.share-links i{
    font-size: 23px;
    color: #1B2021;
}
.post-like-button {
    border: none;
    background-color: #FFF0F3;
    font-size: 20px;
}
.post-comment-button {
    border: none;
    background-color: #FFF0F3;
    font-size: 20px;
}
.facebook-share {
    height: 40px;
    width: 40px;
}
.twitter-share {
    height: 40px;
    width: 40px;
}
.instagram-share {
    height: 40px;
    width: 40px;
}
.telegram-share {
    height: 40px;
    width: 40px;
}
h4 {
    font-size: 20px;
    width: 550px;
}
textarea {
    display: none;
}