header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6495ED;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    box-shadow: -4px 13px 34px -14px rgba(15,26,63,0.52);
    -webkit-box-shadow: -4px 6px 30px -1px rgb(15 26 63); 
}
a{
    text-decoration: none;
}
nav a{
    color: #d0dcf9;
    text-decoration: none;
    margin: 30px;
    font-size: 20px;   
}   
h1 {
    color: #d0dcf9;
    font-family: 'Brush Script MT', cursive;
    font-size: 100px;
}
h4{
    color: darkslategrey;
    font-size: 15px;
    font-style: italic;
}
body{
    background: linear-gradient(65deg , #4F70BD , #3A528A);
}
h3 {
    color: #6495ED;
    margin-block-start: 0;
    margin-block-end: 0;
}
.main-page h3{
    margin-top: 20px;
}
img {
    width: 300px;
    border-radius: 25px 25px 0px 0px;
}

.prof-social {
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
  }

.main-name{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.posts{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    flex: 40%;
    margin-right: 15%;
}
.posts-home{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    margin: 5% 20% 0 18%;
    place-items: center;
    margin-bottom: 5%;
}
.single-post{
    max-width: 300px;
    margin: -5px;
    background-color: #d0dcf9;
    border-radius: 25px;
    box-shadow: -4px 13px 34px -14px rgba(15,26,63,0.52);
    -webkit-box-shadow: -4px 6px 30px -1px rgb(15 26 63);
}
.single-post .post-text{
    margin-left: 10px;
}
.post-author{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    place-items: left;

}
.post-author .post-author-img{
    max-width: 40px;
    display: grid;
    place-items: center;
}
.posted{
    display: flex;
    justify-content: right;
    margin-right: 5%;
}
.avatar {
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
}
.avatar-small{
    width: 35px;
    border-radius: 100%;
}

.profile-text {
    text-align: center;
    font-style: italic;
}

.profile-side-bar {
    max-width: 300px;
    display: flex;
    flex-direction: column;
	align-items: center;
    flex: 20%;
    margin-left: 15%;
    margin-right: 5%;
    height: 50%;
    background-color: #d0dcf9;
    border-radius: 25px;
    box-shadow: -4px 13px 34px -14px rgba(15,26,63,0.52);
    -webkit-box-shadow: -4px 6px 54px -1px rgb(15 26 63);
}

.profile-side-bar a{
    color: #4F70BD;
    text-decoration: none;
    margin: 30px;
}