header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6495ED;
    height: 50px;
}
nav, a{
    color: rgb(52, 51, 51);
    text-decoration: none;
    margin: 30px;
}   
h1 {
    color: rgb(45, 45, 45);
}
body{
    background: rgb(255, 255, 255);
}
h3 {
    color: #6495ED;
}
img {
    width: 300px;
}

.prof-social {
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }

.main-name{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.posts{
    max-width: 900px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    flex: 40%;
    margin-right: 15%;
}
.single-post{
    max-width: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 10px;
}
.avatar {
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
}
.profile-text {
    text-align: center;
    font-style: italic;
}

.profile-side-bar {
    max-width: 300px;
    display: flex;
    flex-direction: column;
	align-items: center;
    flex: 20%;
    margin-left: 10%;
    margin-right: 5%;
}