header{
    
    display: flex;
    justify-content: center;
    
    background: #6495ED;
    height: 50px;
   
    border-radius: 5px;
    padding: 20px;
    box-shadow: -4px 13px 34px -14px rgba(15,26,63,0.52);
    -webkit-box-shadow: -4px 6px 30px -1px rgb(15 26 63); 
    z-index: 1;
}
@font-face {
    font-family: "Parisienne-Regular";
    font-style: normal;
    src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Naruto-Style";
    font-style: normal;
    src: url("../fonts/ninja-naruto.regular.ttf") format("truetype");
}
@font-face {
    font-family: "Squealer";
    font-style: normal;
    src: url("../fonts/squealer.regular.otf") format("opentype");
}
@font-face {
    font-family: "Action-Is";
    font-style: normal;
    src: url("../fonts/action-is.regular.ttf") format("truetype");
}



a{
    text-decoration: none;
    font-family: optima;
}
nav a{
    color: #395188;
    text-decoration: none;
    margin: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: optima;
    transition: all 0.3s ease-in-out;
}   

 .home-link{
    margin-top: 3px;
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 50px;
}

.home-link:hover{
    color:#b2c2e6;
}

.about-link{
    margin-top: 3px;
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 175px;
}

.about-link:hover{
    color:#b2c2e6;
}

.login-link{
    margin-top: 3px;
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 89px;
}

.login-link:hover{
    color:#b2c2e6;
}

.profile-link{
    margin-top: -2px;
    
    border-radius: 5%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 20px;
    size:20px;
}

.profile-link:hover{
    color:#b2c2e6;
}

.profile-link svg{
    display: block;
    width: 40px;
    height: auto;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.form .input-text{
    width: 600px;
    
}

.form .form-field input[type="text"]{
    font-size: 20px;
    outline: none;
    padding: 15px 15px;
    border-radius: 10px;
    border: 2px solid #395188;
    background-color: #d0dcf9;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 25px;
    color: #d0dcf9;
    background-color: #395188;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    background-color: #4966a8;
}

h1 {
    color: #d0dcf9;
    font-family: "Action-Is", cursive;
    font-size: 100px;
    text-align: center;
}
h2 {
    font-family: "Parisienne-Regular";
    text-align: center;
    font-size: 40px;
}
h4{
    color: rgb(123, 137, 152);
    font-size: 15px;
    
    font-family: Parisienne-Regular;
}
body{
    background-image:
    linear-gradient(65deg, #4f70bdf2, #3a528af2),
    url('../img/bg.jpeg');
    overflow-x: hidden;
}
h3 {
    color: #6495ED;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Ubuntu', sans-serif;
}
.main-page h3{
    margin-top: 20px;
}
img {
    width: 100%;
    
    border-radius: 10px 10px 0px 0px;
}
p {
    font-family: "Naruto-Style";
    font-size: 20px;
    word-spacing: 5px;
    line-height: 1.4;

}

.prof-social {
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    
  }



.main-name{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.posts{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    flex: 40%;
    margin-right: 15%;
}
.posts-home{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    margin: 5% 20% 0 18%;
    place-items: center;
    margin-bottom: 5%;
}
.single-post{
    max-width: 960px;
    margin: -5px;
    background-color: #e2eafd;
    border-radius: 10px;
    box-shadow: -4px 13px 34px -14px rgba(15,26,63,0.52);
    -webkit-box-shadow: -4px 6px 30px -1px rgb(15 26 63);
    height: auto;
}

.single-post .post-text{
    margin-left: 10px;
}
.post-author{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    place-items: left;

}
.post-author .post-author-img{
    max-width: 40px;
    display: grid;
    place-items: center;
}
.posted{
    display: flex;
    justify-content: right;
    margin-right: 5%;
}
.avatar {
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
}
.avatar-small{
    width: 35px;
    border-radius: 100%;
}

.profile-text {
    text-align: center;
    font-style: italic;
    font-family: optima;
}

.profile-side-bar {
    max-width: 300px;
    display: flex;
    flex-direction: column;
	align-items: center;
    flex: 20%;
    margin-left: 15%;
    margin-right: 5%;
    height: 50%;
    background-color: #d0dcf9;
    border-radius: 25px;
    box-shadow: -4px 13px 34px -14px rgba(15,26,63,0.52);
    -webkit-box-shadow: -4px 6px 54px -1px rgb(15 26 63);
}

.profile-side-bar a{
    color: #4F70BD;
    text-decoration: none;
    margin: 30px;
}
.post-meta {
    font-family: "Squealer";
    font-weight: normal;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
}
.post-image {
    margin: 5px;
}
.tag {
    padding: 2px 2px;
    margin: 5px 5px;
}
.fa {
    text-align: center;
}
.fa:hover {
    opacity: 0.5;
}
.fa-facebook::before {
    content: "\f082";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-instagram::before {
    content: "\f16d";
}
.fa-telegram::before {
    content: "\f2c6";
}
.fa-heart::before {
    content: "&#xf08a";
    color:rgb(255, 0, 0);

}
.fa-heart::after {
    content: "";
    color: rgb(255, 0, 0);
}

.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color:  #192642;
    padding: 70px 0;
    border-radius: 10px;
  }

  .col{
    width: 25%;
    padding: 0 15px;
 }
 .col h5{
   font-size: 18px;
   color: #d0dcf9;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
   font-family: 'Ubuntu', sans-serif;
 }
 .col h5::before{
   content: '';
   position: absolute;
   left:0;
   bottom: -10px;
   background-color: #d0dcf9;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
 }

 .col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #d0dcf9;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
  }
  .col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 47px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .col .social-links a svg{
    width: 20px;
    height: auto;
  }

  .col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  .col .social-links a path:hover{
    fill: #192642;
    
  }
.post-footer {
    display: flex;
    text-decoration: overline underline;
}
.post-tags {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    font-size: 18px;
    width: auto;
}
.post-like {
    margin: 15px 65px 15px 135px;
    width: auto;
}
.share-links {
    margin: 15px 170px 15px 130px;
    width: auto;
    padding-left: 7px;
}
.post-like-button {
    padding-right: 30px;
}
.facebook-share {
    padding-right: 10px;
}
.twitter-share {
    padding-right: 10px;
}
.instagram-share {
    padding-right: 10px;
}
